theme = "custom_theme"

[editor]
line-number = "relative"

[editor.cursor-shape]
insert = "bar"
normal = "block"

[editor.file-picker]
hidden = true

[editor.indent-guides]
render = true

[keys.normal]
A-h = ":buffer-previous"
A-l = ":buffer-next"

